<html>
<body>
<div>
    <form method="post" action="/logout">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign out"/>
    </form>
</div>
<div>
     <form method="post" action="/main">
        <input type="text" name="text" placeholder="Input a message"/>
        <input type="text" name="tag" placeholder="Tag"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Send</button>
        <button type="reset">Reset</button>
    </form>
</div>
<div>
    <form method="post" action="/filter">
        <input type="text" name="filter"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Find</button>
        <button type="reset">Reset</button>
    </form>
</div>
<div>List of messages</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        by
        <strong>{{authorName}}</strong>
    </div>
{{/messages}}
</body>
</html>